@import '../../../styles/settings.scss';

.root {
  text-align: center;

  .titlesList {
    padding: 0 200px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .link {
    color: #2C3A47;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .listElement {
    display: inline-block;
    font-size: $base-size * 1.5;
    padding: 15px;
    margin: 20px;

    &:hover {
      color: #fff;
      text-shadow: .1px .1px .1px $main-color;
      border-radius: 5px;
      background-color: #CAD3C8;
      border: 2px solid $main-color;
    }
  }
}
